# predict 최종 데이터 파일 만들기

In [1]:
import pandas as pd
import numpy as np

In [2]:
## 데이터 불러오기 및 컬럼 설정

raw_data = pd.read_csv('./data/predict/predict_날씨데이터.csv', encoding='utf-8', index_col=0)
raw_data

    광역시도명        측정날짜  측정일시     PM10
0      서울  2021-03-19     0  116.240
1      서울  2021-03-19     1  114.400
2      서울  2021-03-19     2   97.360
3      서울  2021-03-19     3   96.800
4      서울  2021-03-19     4   90.640
..    ...         ...   ...      ...
763   경기도  2021-04-19    19   68.578
764   경기도  2021-04-19    20   67.990
765   경기도  2021-04-19    21   66.196
766   경기도  2021-04-19    22   64.941
767   경기도  2021-04-19    23   63.078

[1536 rows x 4 columns]

## 2) 기상데이터

In [3]:
weather = pd.read_csv('./data/predict/predict_기상데이터.csv', encoding='utf-8', index_col=0)
weather

     광역시도명          날짜  시간대별 시간     기온  강수량    풍속    습도    운량  적설
0      경기도  2021-03-19        0  11.04  NaN  1.12  58.8   9.6 NaN
1      경기도  2021-03-19        1  11.02  NaN  1.60  58.6   9.2 NaN
2      경기도  2021-03-19        2  10.52  NaN  1.04  62.2   8.0 NaN
3      경기도  2021-03-19        3  10.36  NaN  1.10  63.4   9.8 NaN
4      경기도  2021-03-19        4  10.06  NaN  1.46  64.8  10.0 NaN
...    ...         ...      ...    ...  ...   ...   ...   ...  ..
1531    서울  2021-04-19       19  14.60  NaN  2.90  59.0   0.0 NaN
1532    서울  2021-04-19       20  13.20  NaN  3.70  66.0   0.0 NaN
1533    서울  2021-04-19       21  12.20  NaN  3.30  69.0   0.0 NaN
1534    서울  2021-04-19       22  11.60  NaN  2.50  71.0   0.0 NaN
1535    서울  2021-04-19       23  11.00  NaN  2.00  73.0   0.0 NaN

[1536 rows x 9 columns]

In [4]:
data_weather = pd.merge(raw_data, weather, how='left', left_on=['광역시도명', '측정날짜', '측정일시'], right_on=['광역시도명', '날짜', '시간대별 시간'])

In [5]:
data_weather = data_weather.drop(['날짜', '시간대별 시간'], axis=1)

In [6]:
data_weather.fillna(0, inplace=True)

## 3) 코로나

In [7]:
covid = pd.read_csv('./data/predict/predict_covid.csv', encoding='utf-8').iloc[:, 1:]
covid

          확진일자  확진자수 광역시도명
0   2021-03-19   118    서울
1   2021-03-20   124    서울
2   2021-03-21   108    서울
3   2021-03-22    97    서울
4   2021-03-23   139    서울
..         ...   ...   ...
59  2021-04-15   206   경기도
60  2021-04-16   211   경기도
61  2021-04-17   182   경기도
62  2021-04-18   151   경기도
63  2021-04-19   180   경기도

[64 rows x 3 columns]

In [8]:
final = pd.merge(data_weather, covid, left_on=['광역시도명', '측정날짜'], right_on=['광역시도명', '확진일자'])
final.drop('확진일자', axis=1, inplace=True)

In [9]:
final

     광역시도명        측정날짜  측정일시     PM10     기온  강수량    풍속    습도    운량   적설  확진자수
0       서울  2021-03-19     0  116.240  12.50  0.0  0.80  47.0   9.0  0.0   118
1       서울  2021-03-19     1  114.400  12.40  0.0  1.70  49.0   9.0  0.0   118
2       서울  2021-03-19     2   97.360  12.50  0.0  2.40  52.0  10.0  0.0   118
3       서울  2021-03-19     3   96.800  12.40  0.0  2.60  55.0  10.0  0.0   118
4       서울  2021-03-19     4   90.640  12.20  0.0  1.80  55.0  10.0  0.0   118
...    ...         ...   ...      ...    ...  ...   ...   ...   ...  ...   ...
1531   경기도  2021-04-19    19   68.578  15.08  0.0  2.42  55.8   0.0  0.0   180
1532   경기도  2021-04-19    20   67.990  13.62  0.0  2.04  62.0   0.0  0.0   180
1533   경기도  2021-04-19    21   66.196  12.50  0.0  1.80  65.4   1.0  0.0   180
1534   경기도  2021-04-19    22   64.941  11.36  0.0  1.58  71.4   0.0  0.0   180
1535   경기도  2021-04-19    23   63.078  10.34  0.0  1.12  76.2   1.6  0.0   180

[1536 rows x 11 columns]

In [10]:
final.to_csv('data/predict/predict.csv', encoding='utf-8')