# 최종 데이터 변수 추가

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
raw_data = pd.read_csv('data/최종데이터/final_data.csv', encoding='utf-8')
raw_data = raw_data.iloc[:, 1:]

In [3]:
# 날짜 형 변환
raw_data['날짜'] = pd.to_datetime(raw_data['날짜'], format='%Y-%m-%d')

## 1. 계절 변수 추가
* 봄 : 3 ~ 5월
* 여름 :  6 ~ 8월
* 가을 : 9 ~ 11월
* 겨울 : 12 ~ 2월

In [4]:
season_df = raw_data.copy()
season_df['계절'] = '겨울'

In [5]:

# 봄 계절 변경
season_df.loc[((season_df['날짜'].dt.month >=3) & (season_df['날짜'].dt.month <= 5)), '계절'] = '봄'

# 여름
season_df.loc[((season_df['날짜'].dt.month >=6) & (season_df['날짜'].dt.month <= 8)), '계절'] = '여름'

# 가을
season_df.loc[((season_df['날짜'].dt.month >=9) & (season_df['날짜'].dt.month <= 11)), '계절'] = '가을'

In [6]:
season_df

,광역시도명,날짜,시간대별 시간,업종명,주문건수,기온,강수량,풍속,습도,일조,적설,운량,SO2,CO,O3,NO2,PM10,PM25,확진자수,계절
0,경기도,2019-07-17,0,기타,14,22.86,NaN,0.54,91.2,NaN,NaN,6.4,0.004,0.628,0.025,0.027,79.512,54.272,NaN,여름
1,경기도,2019-07-17,0,돈까스/일식,8,22.86,NaN,0.54,91.2,NaN,NaN,6.4,0.004,0.628,0.025,0.027,79.512,54.272,NaN,여름
2,경기도,2019-07-17,0,분식,1,22.86,NaN,0.54,91.2,NaN,NaN,6.4,0.004,0.628,0.025,0.027,79.512,54.272,NaN,여름
3,경기도,2019-07-17,0,심부름,1,22.86,NaN,0.54,91.2,NaN,NaN,6.4,0.004,0.628,0.025,0.027,79.512,54.272,NaN,여름
4,경기도,2019-07-17,0,야식,8,22.86,NaN,0.54,91.2,NaN,NaN,6.4,0.004,0.628,0.025,0.027,79.512,54.272,NaN,여름
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182004,서울,2020-09-30,23,찜탕,3,17.10,NaN,2.20,92.0,NaN,NaN,4.0,0.002,0.396,0.017,0.016,17.400,11.880,30.0,가을
182005,서울,2020-09-30,23,치킨,62,17.10,NaN,2.20,92.0,NaN,NaN,4.0,0.002,0.396,0.017,0.016,17.400,11.880,30.0,가을
182006,서울,2020-09-30,23,카페/디저트,1,17.10,NaN,2.20,92.0,NaN,NaN,4.0,0.002,0.396,0.017,0.016,17.400,11.880,30.0,가을
182007,서울,2020-09-30,23,패스트푸드,18,17.10,NaN,2.20,92.0,NaN,NaN,4.0,0.002,0.396,0.017,0.016,17.400,11.880,30.0,가을
182008,서울,2020-09-30,23,한식,1,17.10,NaN,2.20,92.0,NaN,NaN,4.0,0.002,0.396,0.017,0.016,17.400,11.880,30.0,가을

## 2. 요일 변수 추가
* 각 일자의 요일 변수 추가

In [7]:


season_df['요일'] = season_df['날짜'].dt.dayofweek
season_df

,광역시도명,날짜,시간대별 시간,업종명,주문건수,기온,강수량,풍속,습도,일조,...,운량,SO2,CO,O3,NO2,PM10,PM25,확진자수,계절,요일
0,경기도,2019-07-17,0,기타,14,22.86,NaN,0.54,91.2,NaN,...,6.4,0.004,0.628,0.025,0.027,79.512,54.272,NaN,여름,2
1,경기도,2019-07-17,0,돈까스/일식,8,22.86,NaN,0.54,91.2,NaN,...,6.4,0.004,0.628,0.025,0.027,79.512,54.272,NaN,여름,2
2,경기도,2019-07-17,0,분식,1,22.86,NaN,0.54,91.2,NaN,...,6.4,0.004,0.628,0.025,0.027,79.512,54.272,NaN,여름,2
3,경기도,2019-07-17,0,심부름,1,22.86,NaN,0.54,91.2,NaN,...,6.4,0.004,0.628,0.025,0.027,79.512,54.272,NaN,여름,2
4,경기도,2019-07-17,0,야식,8,22.86,NaN,0.54,91.2,NaN,...,6.4,0.004,0.628,0.025,0.027,79.512,54.272,NaN,여름,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182004,서울,2020-09-30,23,찜탕,3,17.10,NaN,2.20,92.0,NaN,...,4.0,0.002,0.396,0.017,0.016,17.400,11.880,30.0,가을,2
182005,서울,2020-09-30,23,치킨,62,17.10,NaN,2.20,92.0,NaN,...,4.0,0.002,0.396,0.017,0.016,17.400,11.880,30.0,가을,2
182006,서울,2020-09-30,23,카페/디저트,1,17.10,NaN,2.20,92.0,NaN,...,4.0,0.002,0.396,0.017,0.016,17.400,11.880,30.0,가을,2
182007,서울,2020-09-30,23,패스트푸드,18,17.10,NaN,2.20,92.0,NaN,...,4.0,0.002,0.396,0.017,0.016,17.400,11.880,30.0,가을,2
182008,서울,2020-09-30,23,한식,1,17.10,NaN,2.20,92.0,NaN,...,4.0,0.002,0.396,0.017,0.016,17.400,11.880,30.0,가을,2

In [8]:
weekday = {0:'월', 1:'화', 2:'수', 3:'목', 4:'금', 5:'토', 6:'일'}

week_df = season_df.replace({'요일':weekday})

In [9]:
week_df

,광역시도명,날짜,시간대별 시간,업종명,주문건수,기온,강수량,풍속,습도,일조,...,운량,SO2,CO,O3,NO2,PM10,PM25,확진자수,계절,요일
0,경기도,2019-07-17,0,기타,14,22.86,NaN,0.54,91.2,NaN,...,6.4,0.004,0.628,0.025,0.027,79.512,54.272,NaN,여름,수
1,경기도,2019-07-17,0,돈까스/일식,8,22.86,NaN,0.54,91.2,NaN,...,6.4,0.004,0.628,0.025,0.027,79.512,54.272,NaN,여름,수
2,경기도,2019-07-17,0,분식,1,22.86,NaN,0.54,91.2,NaN,...,6.4,0.004,0.628,0.025,0.027,79.512,54.272,NaN,여름,수
3,경기도,2019-07-17,0,심부름,1,22.86,NaN,0.54,91.2,NaN,...,6.4,0.004,0.628,0.025,0.027,79.512,54.272,NaN,여름,수
4,경기도,2019-07-17,0,야식,8,22.86,NaN,0.54,91.2,NaN,...,6.4,0.004,0.628,0.025,0.027,79.512,54.272,NaN,여름,수
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182004,서울,2020-09-30,23,찜탕,3,17.10,NaN,2.20,92.0,NaN,...,4.0,0.002,0.396,0.017,0.016,17.400,11.880,30.0,가을,수
182005,서울,2020-09-30,23,치킨,62,17.10,NaN,2.20,92.0,NaN,...,4.0,0.002,0.396,0.017,0.016,17.400,11.880,30.0,가을,수
182006,서울,2020-09-30,23,카페/디저트,1,17.10,NaN,2.20,92.0,NaN,...,4.0,0.002,0.396,0.017,0.016,17.400,11.880,30.0,가을,수
182007,서울,2020-09-30,23,패스트푸드,18,17.10,NaN,2.20,92.0,NaN,...,4.0,0.002,0.396,0.017,0.016,17.400,11.880,30.0,가을,수
182008,서울,2020-09-30,23,한식,1,17.10,NaN,2.20,92.0,NaN,...,4.0,0.002,0.396,0.017,0.016,17.400,11.880,30.0,가을,수

## 3. 기념일 변수 추가

* 복날, 국가대표 국제 경기, 블랙데이

In [10]:
anniv = np.array(['2019-07-22', '2019-08-11', '2019-10-10', '2019-11-14', '2019-11-19', '2019-12-11', '2019-12-15', '2019-12-18', 
 '2020-04-14','2020-07-16', '2020-07-26', '2020-08-15', '2020-01-09', '2020-01-12', '2020-01-15', '2020-01-19', '2020-01-22', '2020-01-26'])

anniv.shape

(18,)

In [11]:
week_df['기념일'] = 0

In [12]:
week_df['날짜'] = week_df['날짜'].dt.strftime('%Y-%m-%d')

In [13]:
week_df.loc[np.isin(week_df['날짜'], anniv), '기념일'] = 1

In [14]:
np.unique(week_df.loc[week_df['기념일']==1, '날짜'])

array(['2019-07-22', '2019-08-11', '2019-10-10', '2019-11-14',
       '2019-11-19', '2019-12-11', '2019-12-15', '2019-12-18',
       '2020-01-09', '2020-01-12', '2020-01-15', '2020-01-19',
       '2020-01-22', '2020-01-26', '2020-04-14', '2020-07-16',
       '2020-07-26', '2020-08-15'], dtype=object)

## 4. 공휴일 변수 추가

* 공휴일 전날은 2, 공휴일 당일은 1, 나머지 0
* 황금연휴 포함

In [15]:
from datetime import datetime, timedelta

# 공휴일 날짜
holiday = np.array(['2019-08-15','2019-09-12','2019-09-13','2019-09-14','2019-10-03','2019-10-04','2019-10-05','2019-10-06','2019-10-09',
          '2019-12-25','2020-01-01','2020-01-24','2020-01-25','2020-01-26','2020-01-27','2020-03-01','2020-04-15','2020-04-30','2020-05-01','2020-05-02',
          '2020-05-03','2020-05-04','2020-05-05','2020-06-06','2020-08-15','2020-09-30'])


## 공휴일 전날은 2
day_holiday = pd.to_datetime(holiday) - timedelta(days=1)
day_holiday = day_holiday.strftime('%Y-%m-%d')

In [16]:
day_holiday

Index(['2019-08-14', '2019-09-11', '2019-09-12', '2019-09-13', '2019-10-02',
       '2019-10-03', '2019-10-04', '2019-10-05', '2019-10-08', '2019-12-24',
       '2019-12-31', '2020-01-23', '2020-01-24', '2020-01-25', '2020-01-26',
       '2020-02-29', '2020-04-14', '2020-04-29', '2020-04-30', '2020-05-01',
       '2020-05-02', '2020-05-03', '2020-05-04', '2020-06-05', '2020-08-14',
       '2020-09-29'],
      dtype='object')

In [17]:
week_df['공휴일'] = 0

In [18]:
## 공휴일 전날은 2로 설정
week_df.loc[np.isin(week_df['날짜'], day_holiday), '공휴일'] = 2

In [19]:
week_df.loc[week_df['공휴일']==2]

,광역시도명,날짜,시간대별 시간,업종명,주문건수,기온,강수량,풍속,습도,일조,...,CO,O3,NO2,PM10,PM25,확진자수,계절,요일,기념일,공휴일
6470,경기도,2019-08-14,0,기타,8,26.42,5.0,0.72,91.8,NaN,...,0.300,0.016,0.009,14.171,6.439,NaN,여름,수,0,2
6471,경기도,2019-08-14,0,돈까스/일식,13,26.42,5.0,0.72,91.8,NaN,...,0.300,0.016,0.009,14.171,6.439,NaN,여름,수,0,2
6472,경기도,2019-08-14,0,분식,14,26.42,5.0,0.72,91.8,NaN,...,0.300,0.016,0.009,14.171,6.439,NaN,여름,수,0,2
6473,경기도,2019-08-14,0,야식,15,26.42,5.0,0.72,91.8,NaN,...,0.300,0.016,0.009,14.171,6.439,NaN,여름,수,0,2
6474,경기도,2019-08-14,0,족발/보쌈,16,26.42,5.0,0.72,91.8,NaN,...,0.300,0.016,0.009,14.171,6.439,NaN,여름,수,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181824,서울,2020-09-29,23,중식,2,19.20,NaN,1.30,74.0,NaN,...,0.444,0.016,0.025,34.920,19.360,36.0,가을,화,0,2
181825,서울,2020-09-29,23,치킨,73,19.20,NaN,1.30,74.0,NaN,...,0.444,0.016,0.025,34.920,19.360,36.0,가을,화,0,2
181826,서울,2020-09-29,23,카페/디저트,7,19.20,NaN,1.30,74.0,NaN,...,0.444,0.016,0.025,34.920,19.360,36.0,가을,화,0,2
181827,서울,2020-09-29,23,패스트푸드,35,19.20,NaN,1.30,74.0,NaN,...,0.444,0.016,0.025,34.920,19.360,36.0,가을,화,0,2
181828,서울,2020-09-29,23,한식,5,19.20,NaN,1.30,74.0,NaN,...,0.444,0.016,0.025,34.920,19.360,36.0,가을,화,0,2

In [20]:
## 공휴일 당일은 1로 설정
week_df.loc[np.isin(week_df['날짜'], holiday), '공휴일'] = 1

In [21]:
np.unique(week_df.loc[week_df['공휴일']==2, '날짜'])

array(['2019-08-14', '2019-09-11', '2019-10-02', '2019-10-08',
       '2019-12-24', '2019-12-31', '2020-01-23', '2020-02-29',
       '2020-04-14', '2020-04-29', '2020-06-05', '2020-08-14',
       '2020-09-29'], dtype=object)

In [22]:
holiday

array(['2019-08-15', '2019-09-12', '2019-09-13', '2019-09-14',
       '2019-10-03', '2019-10-04', '2019-10-05', '2019-10-06',
       '2019-10-09', '2019-12-25', '2020-01-01', '2020-01-24',
       '2020-01-25', '2020-01-26', '2020-01-27', '2020-03-01',
       '2020-04-15', '2020-04-30', '2020-05-01', '2020-05-02',
       '2020-05-03', '2020-05-04', '2020-05-05', '2020-06-06',
       '2020-08-15', '2020-09-30'], dtype='<U10')

In [23]:
week_df.to_csv('data/최종데이터/변수추가최종.csv', encoding='utf-8')