In [28]:
import pandas as pd
import numpy as np
import os
import time

In [3]:
data = pd.read_csv('../data/raw_data/종관기상데이터.csv', engine='python', index_col=0)
data

         지점 지점명                일시  기온(°C)  풍속(m/s)  습도(%)  증기압(hPa)  지면온도(°C)
0        90  속초  2019-07-17 00:00    21.5      3.0   93.0      23.8      22.4
1        90  속초  2019-07-17 01:00    21.5      3.1   93.0      23.8      22.3
2        90  속초  2019-07-17 02:00    21.2      3.3   95.0      23.8      22.1
3        90  속초  2019-07-17 03:00    21.3      3.2   94.0      23.7      22.1
4        90  속초  2019-07-17 04:00    21.2      0.1   95.0      23.8      22.1
...     ...  ..               ...     ...      ...    ...       ...       ...
168808  295  남해  2020-09-29 20:00    18.2      1.8   71.0      14.8      19.2
168809  295  남해  2020-09-29 21:00    16.6      0.4   81.0      15.3      18.0
168810  295  남해  2020-09-29 22:00    16.7      0.4   78.0      14.8      17.3
168811  295  남해  2020-09-29 23:00    16.9      0.9   78.0      15.0      17.1
168812  295  남해  2020-09-30 00:00    16.2      0.7   84.0      15.4      16.8

[1003883 rows x 8 columns]

In [32]:
## 원하는 지역

location = ['동두천', '수원', '양평', '이천', '파주', '서울']

In [39]:
# 경기도, 서울 지점만 추출

pre_data = data.loc[np.isin(data['지점명'], location)].reset_index(drop=True)

In [42]:
# 경기도 안의 지점은 모두 경기도로 통일

pre_data.loc[pre_data['지점명']!='서울', '지점명'] = '경기도'

In [46]:
# 지점 index 삭제

pre_data.drop('지점', axis=1, inplace=True)

In [54]:
# 시간 부분 삭제

pre_data['일시'] = pre_data['일시'].astype('str').str[:-6]

In [61]:
# 지점, 일시 별로 평균값 산출

final_data = pre_data.groupby(['지점명', '일시']).mean().reset_index()

In [66]:
# 3자리수 반올림

weather = np.round(final_data, 3)

In [70]:
# 데이터 확인

weather

     지점명          일시  기온(°C)  풍속(m/s)   습도(%)  증기압(hPa)  지면온도(°C)
0    경기도  2019-07-17  24.986    0.948  82.192    25.548    27.070
1    경기도  2019-07-18  26.353    1.113  74.533    24.797    29.028
2    경기도  2019-07-19  27.125    1.610  75.275    26.231    29.912
3    경기도  2019-07-20  27.493    2.658  74.483    27.056    27.423
4    경기도  2019-07-21  25.050    1.708  91.883    29.000    26.243
..   ...         ...     ...      ...     ...       ...       ...
879   서울  2020-09-26  19.342    2.475  62.333    13.688    20.462
880   서울  2020-09-27  20.208    2.096  62.917    14.563    21.746
881   서울  2020-09-28  20.592    1.879  65.667    15.479    22.046
882   서울  2020-09-29  19.646    1.883  67.667    15.125    21.188
883   서울  2020-09-30  18.800    1.700  77.000    16.600    17.500

[884 rows x 7 columns]

In [71]:
# csv 파일 내보내기

weather.to_csv('../data/가공/기상데이터.csv', encoding='utf-8')